Playing around with datetime index in pandas

In [16]:
import pandas as pd
import datetime as dt

datafile = 'data/oosdata.2020'
dat_names = ['wdate','wind_dir','wind_speed','wind_gust','col5','humidity','col7','temp_out','col9','col10']
# TODO: can I read just a select date range?
df = pd.read_csv(datafile, sep=' ',names=dat_names,index_col=0,parse_dates=True)
df = df.drop_duplicates()

df.index = pd.to_datetime(df.index,format="%Y%m%d%H%M")

# the full index range
date_limits = [df.index.min(),df.index.max()]
# start with range slider of last N days
N_DAYS = 20
date1 = dt.date(date_limits[1].year, date_limits[1].month, date_limits[1].day)
date0 = dt.date(date_limits[0].year, date_limits[0].month, date_limits[0].day)
date_range = date1 - date0
date0 = date0 if date_range <= dt.timedelta(days=N_DAYS) else date1 - dt.timedelta(days=N_DAYS)
print(date0,date1)
df.describe()
df.head()

2020-01-17 2020-02-06

,wind_dir,wind_speed,wind_gust,col5,humidity,col7,temp_out,col9,col10
wdate,,,,,,,,,
2020-01-01 00:01:00,359.0,9.0,10.0,100.0,38.0,57.3,49.4,25.096,7.57
2020-01-01 00:06:00,359.0,7.0,11.0,100.0,38.0,57.3,49.2,25.096,7.57
2020-01-01 00:11:00,359.0,9.0,11.0,100.0,38.0,57.3,49.2,25.096,7.57
2020-01-01 00:16:00,359.0,7.0,11.0,100.0,38.0,57.1,49.0,25.097,7.57
2020-01-01 00:21:00,359.0,7.0,8.0,100.0,40.0,57.1,48.7,25.094,7.57

In [17]:
df30 = df.loc[date0 : date1]
df30.describe()
df30.head()

,wind_dir,wind_speed,wind_gust,col5,humidity,col7,temp_out,col9,col10
wdate,,,,,,,,,
2020-01-17 00:01:00,359.0,7.0,12.0,100.0,96.0,49.2,26.9,25.091,7.85
2020-01-17 00:06:00,246.0,10.0,12.0,100.0,96.0,49.0,26.9,25.095,7.85
2020-01-17 00:11:00,359.0,9.0,11.0,100.0,96.0,49.0,27.0,25.096,7.85
2020-01-17 00:16:00,269.0,10.0,12.0,100.0,96.0,49.0,27.1,25.097,7.85
2020-01-17 00:21:00,359.0,8.0,10.0,100.0,96.0,49.0,27.2,25.101,7.85

In [18]:
# generate a list of dates for the slider
def gen_date_list(date0,date1):
    d0 = dt.date(date0.year,date0.month,date0.day)
    d1 = dt.date(date1.year,date1.month,date1.day)
    ndate = (d1-d0).days
    day_delta = dt.timedelta(days=1)
    dlist = [d0 + i*day_delta for i in range(ndate)]
    return dlist

dlist = gen_date_list(date0,date1)
print(dlist)

[datetime.date(2020, 1, 17), datetime.date(2020, 1, 18), datetime.date(2020, 1, 19), datetime.date(2020, 1, 20), datetime.date(2020, 1, 21), datetime.date(2020, 1, 22), datetime.date(2020, 1, 23), datetime.date(2020, 1, 24), datetime.date(2020, 1, 25), datetime.date(2020, 1, 26), datetime.date(2020, 1, 27), datetime.date(2020, 1, 28), datetime.date(2020, 1, 29), datetime.date(2020, 1, 30), datetime.date(2020, 1, 31), datetime.date(2020, 2, 1), datetime.date(2020, 2, 2), datetime.date(2020, 2, 3), datetime.date(2020, 2, 4), datetime.date(2020, 2, 5)]

In [19]:
# select a single date from df30
d_sel = df30.loc[str(dlist[2])]
d_sel.tail()

,wind_dir,wind_speed,wind_gust,col5,humidity,col7,temp_out,col9,col10
wdate,,,,,,,,,
2020-01-19 23:30:00,164.0,8.0,10.0,100.0,29.0,59.1,48.1,24.965,7.87
2020-01-19 23:35:00,359.0,4.0,16.0,100.0,29.0,59.0,48.0,24.965,7.87
2020-01-19 23:40:00,359.0,4.0,13.0,100.0,31.0,59.0,47.6,24.967,7.87
2020-01-19 23:45:00,173.0,5.0,12.0,100.0,30.0,59.0,47.5,24.966,7.87
2020-01-19 23:50:00,165.0,8.0,11.0,100.0,31.0,58.8,47.5,24.964,7.87